<nav class="nav">
  <div class="nav-container">
    <a class="nav-brand" routerLink="/" (click)="navigateHome($event)">
      Retail Store
    </a>
    <div class="nav-links">
      <a routerLink="/products" routerLinkActive="active" class="nav-link" (click)="navigate('/products', $event)">
        Products
      </a>
      <a routerLink="/cart" routerLinkActive="active" class="nav-link" (click)="navigate('/cart', $event)">
        Cart
        @if (cartService.totalItems() > 0) {
        <span class="badge">
          {{ cartService.totalItems() }}
        </span>
        }
      </a>
    </div>
  </div>
</nav>
